./.git/objects/pack/pack-49203539cab4dc78df727b71a6898eac2bba5ad9.pack
./AutoMLP_A_Framework_for_the_Acceleration_of_Multi-Layer_Perceptron_Models_on_FPGAs_for_Real-Time_Atrial_Fibrillation_Disease_Detection.pdf
./Hardware Optimization for ECG Signal Processing and Arrhythmia.pptx
./MachineLearning/Data/mitbih_test.csv
./MachineLearning/Data/mitbih_test_processed.csv
./MachineLearning/Data/mitbih_train.csv
./MachineLearning/Data/mitbih_train_processed.csv
./MachineLearning/Data/ptbdb_abnormal.csv
./MachineLearning/Data/ptbdb_normal.csv
./machineLearningOld/Data/mitbih_test.csv
./machineLearningOld/Data/mitbih_test_scaled.csv
./machineLearningOld/Data/mitbih_train.csv
./machineLearningOld/Data/mitbih_train_scaled.csv
./machineLearningOld/Data/ptbdb_abnormal.csv
./machineLearningOld/Data/ptbdb_normal.csv
./machineLearningSemiOld/mitbih_database/100.csv
./machineLearningSemiOld/mitbih_database/101.csv
./machineLearningSemiOld/mitbih_database/102.csv
./machineLearningSemiOld/mitbih_database/103.csv
./machineLearningSemiOld/mitbih_database/104.csv
./machineLearningSemiOld/mitbih_database/105.csv
./machineLearningSemiOld/mitbih_database/106.csv
./machineLearningSemiOld/mitbih_database/107.csv
./machineLearningSemiOld/mitbih_database/108.csv
./machineLearningSemiOld/mitbih_database/109.csv
./machineLearningSemiOld/mitbih_database/111.csv
./machineLearningSemiOld/mitbih_database/112.csv
./machineLearningSemiOld/mitbih_database/113.csv
./machineLearningSemiOld/mitbih_database/114.csv
./machineLearningSemiOld/mitbih_database/115.csv
./machineLearningSemiOld/mitbih_database/116.csv
./machineLearningSemiOld/mitbih_database/117.csv
./machineLearningSemiOld/mitbih_database/118.csv
./machineLearningSemiOld/mitbih_database/119.csv
./machineLearningSemiOld/mitbih_database/121.csv
./machineLearningSemiOld/mitbih_database/122.csv
./machineLearningSemiOld/mitbih_database/123.csv
./machineLearningSemiOld/mitbih_database/124.csv
./machineLearningSemiOld/mitbih_database/200.csv
./machineLearningSemiOld/mitbih_database/201.csv
./machineLearningSemiOld/mitbih_database/202.csv
./machineLearningSemiOld/mitbih_database/203.csv
./machineLearningSemiOld/mitbih_database/205.csv
./machineLearningSemiOld/mitbih_database/207.csv
./machineLearningSemiOld/mitbih_database/208.csv
./machineLearningSemiOld/mitbih_database/209.csv
./machineLearningSemiOld/mitbih_database/210.csv
./machineLearningSemiOld/mitbih_database/212.csv
./machineLearningSemiOld/mitbih_database/213.csv
./machineLearningSemiOld/mitbih_database/214.csv
./machineLearningSemiOld/mitbih_database/215.csv
./machineLearningSemiOld/mitbih_database/217.csv
./machineLearningSemiOld/mitbih_database/219.csv
./machineLearningSemiOld/mitbih_database/220.csv
./machineLearningSemiOld/mitbih_database/221.csv
./machineLearningSemiOld/mitbih_database/222.csv
./machineLearningSemiOld/mitbih_database/223.csv
./machineLearningSemiOld/mitbih_database/228.csv
./machineLearningSemiOld/mitbih_database/230.csv
./machineLearningSemiOld/mitbih_database/231.csv
./machineLearningSemiOld/mitbih_database/232.csv
./machineLearningSemiOld/mitbih_database/233.csv
./machineLearningSemiOld/mitbih_database/234.csv
./machineLearningSemiOld/trash/panTompkins/Pan_Tompkins.ipynb
./recreate/Data/mitbih_test_processed.csv
./recreate/Data/mitbih_train_processed.csv
./signalProcessing/Data/mitbih_test.csv
./signalProcessing/Data/mitbih_train.csv
./testBench/mitbih_database/100.csv
./testBench/mitbih_database/101.csv
./testBench/mitbih_database/102.csv
./testBench/mitbih_database/103.csv
./testBench/mitbih_database/104.csv
./testBench/mitbih_database/105.csv
./testBench/mitbih_database/106.csv
./testBench/mitbih_database/107.csv
./testBench/mitbih_database/108.csv
./testBench/mitbih_database/109.csv
./testBench/mitbih_database/111.csv
./testBench/mitbih_database/112.csv
./testBench/mitbih_database/113.csv
./testBench/mitbih_database/114.csv
./testBench/mitbih_database/115.csv
./testBench/mitbih_database/116.csv
./testBench/mitbih_database/117.csv
./testBench/mitbih_database/118.csv
./testBench/mitbih_database/119.csv
./testBench/mitbih_database/121.csv
./testBench/mitbih_database/122.csv
./testBench/mitbih_database/123.csv
./testBench/mitbih_database/124.csv
./testBench/mitbih_database/200.csv
./testBench/mitbih_database/201.csv
./testBench/mitbih_database/202.csv
./testBench/mitbih_database/203.csv
./testBench/mitbih_database/205.csv
./testBench/mitbih_database/207.csv
./testBench/mitbih_database/208.csv
./testBench/mitbih_database/209.csv
./testBench/mitbih_database/210.csv
./testBench/mitbih_database/212.csv
./testBench/mitbih_database/213.csv
./testBench/mitbih_database/214.csv
./testBench/mitbih_database/215.csv
./testBench/mitbih_database/217.csv
./testBench/mitbih_database/219.csv
./testBench/mitbih_database/220.csv
./testBench/mitbih_database/221.csv
./testBench/mitbih_database/222.csv
./testBench/mitbih_database/223.csv
./testBench/mitbih_database/228.csv
./testBench/mitbih_database/230.csv
./testBench/mitbih_database/231.csv
./testBench/mitbih_database/232.csv
./testBench/mitbih_database/233.csv
./testBench/mitbih_database/234.csv
./.git/objects/pack/pack-49203539cab4dc78df727b71a6898eac2bba5ad9.pack
./MachineLearning/Data/mitbih_test.csv
./MachineLearning/Data/mitbih_test_processed.csv
./MachineLearning/Data/mitbih_train.csv
./MachineLearning/Data/mitbih_train_processed.csv
./MachineLearning/Data/ptbdb_abnormal.csv
./MachineLearning/Data/ptbdb_normal.csv
./machineLearningOld/Data/mitbih_test.csv
./machineLearningOld/Data/mitbih_test_scaled.csv
./machineLearningOld/Data/mitbih_train.csv
./machineLearningOld/Data/mitbih_train_scaled.csv
./machineLearningOld/Data/ptbdb_abnormal.csv
./machineLearningOld/Data/ptbdb_normal.csv
./machineLearningSemiOld/mitbih_database/200.csv
./machineLearningSemiOld/mitbih_database/222.csv
./recreate/Data/mitbih_test_processed.csv
./recreate/Data/mitbih_train_processed.csv
./signalProcessing/Data/mitbih_test.csv
./signalProcessing/Data/mitbih_train.csv
./testBench/mitbih_database/200.csv
./testBench/mitbih_database/222.csv
